<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bg.GameBG.Play.BattleMapper">
    <insert id="saveCache" parameterType="com.example.bg.GameBG.Play.HistoryDTO">
        INSERT INTO battle_cache (roomid, player1, player2, timestamp, who_win)
        VALUES (#{roomid}, #{player1}, #{player2}, #{timestamp}, #{who_win})
    </insert>
</mapper>