/* ȫ����ʽ */
body {
    margin: 0; /* �Ƴ�Ĭ�� body �� margin */
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
  }
  
  #app {
    display: flex; /* ʹ�� flex ���� */
    width: 100%; /* ����ռ�������ӿ� */
    height: 100vh; /* �߶�ռ�������ӿ� */
  }
  
  /* ��ർ���� */
  .navbar {
    width: 250px; /* ���ӿ��� */
    background-color: white; /* ������Ϊ��ɫ */
    color: #007bff; /* ������ɫ��Ϊ��ɫ */
    padding: 20px; /* �ڱ߾� */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* ��Ӱ */
    display: flex; /* ʹ�� flex ���� */
    flex-direction: column; /* ��ֱ���� */
    justify-content: space-around; /* ���ֿռ� */
  }
  
  .navbar ul {
    list-style: none; /* �Ƴ�Ĭ���б���ʽ */
    padding: 0;
    margin: 0; /* �Ƴ�Ĭ����߾� */
    flex: 1; /* ռ��ʣ��ռ� */
    display: flex; /* ʹ�� flex ���� */
    flex-direction: column; /* ��ֱ���� */
    justify-content: space-around; /* ���ֿռ� */
  }
  
  .navbar ul li {
    text-align: center; /* ���־��� */
  }
  
  .navbar ul li a {
    color: #007bff; /* ����������ɫ��Ϊ��ɫ */
    text-decoration: none; /* �Ƴ��»��� */
    font-size: 18px; /* �������� */
    font-weight: 500; /* ����Ӵ� */
  }
  
  .navbar ul li a:hover {
    text-decoration: underline; /* �����ͣʱ��ʾ�»��� */
  }
  
  /* �Ҳ��������� */
  .content {
    flex: 1; /* ռ��ʣ��ռ� */
    width: 100%; /* ����ռ�� */
    background-color: white; /* ������ɫ */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* ��Ӱ */
    overflow-y: auto; /* ������ݳ����߶ȣ���ʾ������ */
  }