<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bg.user.UserLoginMapper">
    <select id="login" parameterType="com.example.bg.user.User" resultType="com.example.bg.user.User">
        SELECT UID, name as UserName, pwd as PassWord 
        FROM user
        WHERE name = #{UserName} AND pwd = #{PassWord}
    </select>
    <select id="getName" resultType="java.lang.String">
        select name from user where UID = #{id}
    </select>
    <select id="getID" resultType="java.lang.Integer">
        select UID
        from user where name =#{name};
    </select>
</mapper>